<h1>The current combat:</h1>

<p>
  <strong>Combat:</strong>
  <%= @combats.combat %>
</p>

<p>
  <strong>Description:</strong>
  <%= @combats.description %>
</p>

<%= link_to 'Back', combats_path %>


