<h1>Bets#index</h1>
<div>
  <%= @bet.each do |bet|%>
    <p> The credit given at this bet are:
      <%= bet.sum_bet%> credits
    </p>

    <p> The fight name of this bet is:
      <%= bet.user_combat.combat.name %>
    </p>

    <br><br>
  <% end %>
</div>
