<h1>Bets#show</h1>
<div>
  <p>The fight name: <%= @show_bet.user_combat.combat.name %> </p>

  <p> The fighters of this bet are:
    <%#= @bet.user_combat.combat.users[0].pseudo %> and
    <%#= @bet.user_combat.combat.users[1].pseudo %>
  </p>

  <p> The fighters that you made a bet is:
    <%= @show_bet.user_combat.user.pseudo %>
  </p>

  <p> Created at:
    <%= @show_bet.created_at %>
  </p>
</div>
