<h1>Compte#show</h1>

<div>
  <p> Hi
    <%= current_user.pseudo %>
  </p>
  <p> Your credit points are: </p>
    <%= @compte.credits %>
  </p>
  <p> Watch the video if you want to win some credits! </p>
</div>
