<h1>Videos#show</h1>

<p>By watching the video you'll earn 5 credits!</p>
<iframe width="560" height="315" src="//www.youtube.com/embed/KxGRhd_iWuE" frameborder="0" allowfullscreen></iframe>
<p>
<%= @current_user_compte.user.email %>
</p>

<p> Actually you have <%= @current_user_compte.credits %> points </p>
