<h2> Join User to combat </h2>

<div>
  <ul>
    <li><b> connect: </b><#%= @combat.show_user_combat.user.id %></li>
    <li><b>The user id: </b><%= @show_user_combat.user.id %></li>
    <li><b> The combat id: </b><%= @show_user_combat.combat.id %></li>
    <li><b> The combat name: </b><%= @show_user_combat.combat.description %></li>
  </ul>
</div>